<h1>Addresses</h1>


<% @addresses.each do |address| %>
	<fieldset>
		<legend>
			<%=address.zipcode -%>, 
			<%=address.address %>
		</legend>
		<h4>List of residents:</h4>
		<ul>
			<%address.people.map do |person|%>
				<li>
					<%=person.firstname%>
					<%=person.lastname%>
					<%=person.birthyear%>
					<br>
					<span>Status:</span>
          <%= person.housing.status %>
				</li>
			<%end%>
		</ul>
		<%=link_to "Edit", edit_address_path(address)%>
    <%=link_to "Delete", address_path(address), method: :delete, data: { confirm: 'Are you sure?' } %>
	</fieldset>
	<br>
<% end %>
<%=link_to "Add new household", new_address_path %>
